algebra.py
geometria_plana.py
main.py
trigonometria.py
__pycache__/algebra.cpython-37.pyc
__pycache__/trigonometria.cpython-37.pyc
__pycache__/geometria_plana.cpython-37.pyc
__pycache__/main.cpython-37.pyc
